# These are some examples of commonly ignored file patterns.
# You should customize this list as applicable to your project.
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore

# test files
TEST/

Heatmap_demo_1/
Heatmap_demo_2/
R_Examples/.ipynb_checkpoints/
R_Examples/*.csv

.Rproj.user
R_Examples/.RData
R_Examples/.Rhistory

# environment files
*.env

# Log files
*.log

# Package files
*.jar


# JetBrains IDE
.idea/


